<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css">
    <!-- <link href='https://fonts.googleapis.com/css?family=Oxygen:300,400,700' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" type="text/css" href="style.css">
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  

  </head>
  <body>
<!--     <video autoplay mute loop>
        <source src="main-show-video.mp4" type="video/mp4">
    </video> -->
    <div>
    	<%= video_tag "main-show-video-mini.mp4",type: "video/mp4", :controls => false, :autobuffer => true, :autoplay => true, :loop => true, :id => "home-video" %>
    </div>
		
    <div class="jumbotron">
      <div class="container">
        <div class="header">
          <div class="row">
            
            <div class="col-md-1">
              <!-- <img src="logo.png" height="45px" width="40px" /> -->
              <%= image_tag("logo.png", :size => "40x45")%>
            </div>
            
            <div class="col-md-4 slogan">
              <p class="slogan">尚睿通教育 <br>Study Reshaping Thoughts</p>
            </div>
            <div class="pull-right">
              <a class="btn btn-default" href="#">Login</a>
              <a class="active btn btn-default" href="#">Sign Up</a>
            </div>
          </div>
        </div>

        <div class="main">
      <!--     <h1>
           Study Reshapng Thoughts.     
          </h1> -->
          <!-- <a class="active btn btn-default" href="#">Learn More</a>
          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" id="searchInput" placeholder="Browse the collection">
              
            </div>
            <button type="submit" class="active btn btn-default">
                search
              </button>
          </form> -->
        </div>
      </div>
    </div>

    <div class="supporting">
      <div class="container">
        <h2>
          SRT VR/AR 未来课堂
        </h2>
        <p class="subject">
          地理&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp生物&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp化学&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp物理&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp科学
        </p>
        <div class="row">
          <div class="col-md-8">
            <div class="thumbnail">
              <!-- <img src="dili.jpg"> -->
              <%= image_tag "dili.jpg"%>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- <img src="dili-2.jpg"> -->
              <%= image_tag "dili-2.jpg"%>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- <img src="shengwu.jpg"> -->
              <%= image_tag "shengwu.jpg"%>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- <img src="body.jpg"> -->
              <%= image_tag "body.jpg"%>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- <img src="ocean.jpg"> -->
              <%= image_tag "ocean.jpg"%>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- <img src="wuli.jpg"> -->
              <%= image_tag "wuli.jpg"%>
            </div>
          </div>
          <div class="col-md-8">
            <div class="thumbnail">
              <!-- <img src="starchart.jpg"> -->
              <%= image_tag "starchart.jpg"%>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- <img src="huoyan.jpg"> -->
              <%= image_tag "huoyan.jpg"%>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- <img src="huagong.jpg"> -->
              <%= image_tag "huagong.jpg"%>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- <img src="huaxue.jpg"> -->
              <%= image_tag "huaxue.jpg"%>
            </div>
          </div>
        </div>
        
        <h2 id="saysomething">
         做有效学习的探索者、践行者
        </h2>
      </div>
    </div>

    <div class="feature">
     

    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3>
              VR教学联盟
            </h3>
            <ul>

              <li>人大附中</li>
              <li>北京第四中学</li>
              <li>鼎石国际学校</li>
              <li>八十中</li>
              <li>丰台二中</li>
              <li>更多......</li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>
              合作机构
            </h3>
            <ul>
              <li>北京师范大学</li>
              <li>中科院内蒙古植物所</li>
              <li>延庆世界地址公园</li>
              <li>燕山石化</li>
              <li>更多......</li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>
              关于我们
            </h3>
            <ul>
              <li>公司介绍</li>
              <li>最新动态</li>
              <li>联系我们</li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>

  </body>
</html>